doctype 5
html
  head
    title Na na na na na na na na BATBOT!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    button.fwd ^
    button.left <
    button.right >
    button.back v

    script(src="/socket.io/socket.io.js")
    script(src="/js/ender.min.js")
    script(src="/js/batbot.js")
