doctype 5
html
  head
    title Na na na na na na na na BATBOT!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    canvas(id="scan", width="500", height="500")

    script(src="/socket.io/socket.io.js")
    script(src="/js/ender.min.js")
    script(src="/js/drawscan.js")
