body {
  padding: 50px;
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
canvas {
  outline: 1px solid #000;
}
.change-angle {
  display: inline-block;
  outline: 1px solid #00f;
  margin: 2em;
  margin-top: 0;
  padding: 1em;
  vertical-align: top;
}
