body
  padding 25px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF
canvas
  outline 1px solid black

.change-angle
  display inline-block
  outline 1px solid blue
  margin 2em
  margin-top 0
  padding 1em
  vertical-align top

.slider
  span 
    display inline-block
    margin-left 1em
    font-style italic
