extends layout

block content
  canvas(id="robot", width="400", height="400")
  //- img(src=canvas)

  a.change-angle(id='deg0', href='#', data-angle='0') deg0
  a.change-angle(id='deg30', href='#', data-angle='30') deg30
  a.change-angle(id='deg45', href='#', data-angle='45') deg45
  a.change-angle(id='deg60', href='#', data-angle='60') deg60
  a.change-angle(id='deg90', href='#', data-angle='90') deg90

