doctype 5
html
  head
    title Articulated Robot
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    block scripts
      script(src="/socket.io/socket.io.js")
      script(src="/js/ender.min.js")
      //- script(src="/js/drawbot.js")
